# Python 虚拟环境、缓存
venv/ 
__pycache__/ 

# IDE 配置缓存
.idea/
.vscode/
*.swp
*.swo

# AI工具缓存目录
.agents/

# 前端 node 依赖、构建产物
node_modules/
# package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# 系统隐藏垃圾文件
.DS_Store
Thumbs.db